body {
    margin: 0;
}

#linegraph {
    margin: auto;
    width: 90%;
}

p {
    margin: auto;
    width: 90%;
    padding: 50px;
}

h1 {
    margin: auto;
    width: 95%;
    padding: 10px;
}

header {
    padding: 5px;
}