body {
    margin: 0;
    font-family: Helvetica;
}

#linegraph {
    margin: auto;
    width: 90%;
    padding-top: 100px;
}

#graphHeadline {
    padding-bottom: 10px;
    font-size: 18px;
}

p {
    margin-left: 10px;
    margin-right: 20px;
    width: 75%;
    padding: 50px;
}

h1 {
    margin: auto;
    width: 95%;
    padding: 10px;
}

header {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid green;
}

#HomeButton {
    padding: 0px;
    width: 200px;
    color: black;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

#HomeButton:hover {
    text-decoration: none;
    background-color: aquamarine;
}

a:visited {
    text-decoration: none;
}