body {
    margin: 0;
    font-family: Helvetica;
}

#linegraph {
    margin: auto;
    width: 90%;
    padding-top: 100px;
}

#graphHeadline {
    padding-bottom: 10px;
    font-size: 18px;
}

p {
    margin-left: 10px;
    margin-right: 20px;
    width: 75%;
    padding: 50px;
}

a {
    text-decoration: none;
}


h1 {
    margin: auto;
    width: 95%;
    padding: 10px;
}

header {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #A31F34;
    box-shadow: 0px 0px 5px 2px #bbbbbb;
}

#startButton {}

a.bestButton {
    font-size: 20px;
    width: 200px;
    height: 80px;
    color: white;
    text-align: center;
    background-color: #A31F34;
    position: absolute;
    height: 90px;
    line-height: 90px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    box-shadow: 1px 1px 5px 2px #bbbbbb;
}

a.bestButton:hover {
    box-shadow: 1px 1px 6px 3px #bbbbbb;
}

a.bestButton:active {
    box-shadow: 0px 0px 2px 0px #bbbbbb;
}

a.footerLink {
    text-align: center;
    font-size: 12px;
    color: rgba(54, 54, 54, 0.747);
    margin: 15px;
}


#headline {
    font-size: 30px;
    position: absolute;
    color: white;
    top: 120px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 400px;
}

#visualization {
    z-index: 0;
}

#HomeButton {
    width: 300px;
    color: black;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a.homebutton {
    color: black;
}

#sorthat {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

#logoImg {
    vertical-align: text-bottom;
    width: 40px;
}


#userDot {
    width: 20px;
    height: 12px;
    rx: 6px;
    ry: 6px;
    fill: rgb(150, 250, 200);
    margin: 10px;
}

#majorDot {
    width: 20px;
    height: 12px;
    rx: 6px;
    ry: 6px;
    fill: rgb(100, 150, 255);
    margin: 10px;
}

#graphExplanation {
    margin: auto;
    width: 200px;
}

svg {
    width: 20px;
    height: 12px;
    margin-right: 10px;
    margin-left: 10px;
}

a.footerLink {
    text-align: center;
    font-size: 12px;
    color: rgba(54, 54, 54, 0.747);
    margin: 15px;
}

footer {
    text-align: center;
    width: 300px;
    position: absolute;
    bottom: 30px;
    color: white;
    left: 50%;
    transform: translate(-50%, 0);
}