body {
    margin: 0;
    font-family: Helvetica;
}

a {
    text-decoration: none;
}

.loveHateRating {
    position: relative;
    margin-left: 10%;
}

.radioObject {
    position: relative;
    width: 50%;
    min-width: 400px;
    margin: auto;
}

button {
    position: fixed;
    width: 120px;
    height: 30px;
    font-size: 16px;
    color: #A31F34;
    background-color: white;
    border: 2px solid #A31F34;
    text-decoration: none;
    box-shadow: 1px 1px 5px 2px #bbbbbb;
}

#submitButton {
    position: fixed;
    width: 120px;
    height: 30px;
    font-size: 16px;
    background-color: #A31F34;
    color: white;
    border: 2px solid #A31F34;
    text-decoration: none;
    bottom: 5%;
    right: 25%;
    box-shadow: 1px 1px 3px 1px #bbbbbb;
}

button:disabled {
    border: 2px solid rgba(163, 31, 53, 0.5);
    color: rgba(163, 31, 53, 0.5);
}

button:hover {
    box-shadow: 1px 1px 6px 3px #bbbbbb;
}

button:active {
    box-shadow: 0px 0px 2px 0px #bbbbbb;
}

button.nextPage {
    bottom: 5%;
    right: 25%;
}

button.prevPage {
    bottom: 5%;
    left: 25%;
}

h3 {
    margin-left: 20%;
    margin-right: 20%;
}

#theForm {
    margin: auto;
    padding-top: 1%;
}

.Form {
    position: absolute;
    overflow: scroll;
    height: 76%;
    left: 50%;
    transform: translate(-50%, 0);
}

a.bestButton {
    font-size: 20px;
    width: 200px;
    height: 80px;
    color: white;
    text-align: center;
    background-color: #A31F34;
    position: absolute;
    height: 90px;
    line-height: 90px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    box-shadow: 1px 1px 5px 2px #bbbbbb;
}

a.bestButton:hover {
    box-shadow: 1px 1px 6px 3px #bbbbbb;
}

a.bestButton:active {
    box-shadow: 0px 0px 2px 0px #bbbbbb;
}

a.footerLink {
    text-align: center;
    font-size: 12px;
    color: rgba(54, 54, 54, 0.747);
    margin: 15px;
}

h1 {
    margin: auto;
    width: 95%;
    padding: 10px;
}

header {
    z-index: 100;
    padding: 10px;
    border-bottom: 1px solid #A31F34;
    box-shadow: 0px 0px 5px 2px #bbbbbb;
}

#headline {
    font-size: 30px;
    position: absolute;
    color: white;
    top: 120px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 400px;
}

#HomeButton {
    width: 300px;
    color: black;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a.homebutton {
    color: black;
}

#sorthat {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

#logoImg {
    vertical-align: text-bottom;
    width: 40px;
}

footer {
    text-align: center;
    width: 300px;
    position: absolute;
    bottom: 20px;
    color: white;
    left: 50%;
    transform: translate(-50%, 0);
}