{% extends 'base.html' %}

{% block title %}
Questionnaire
{% endblock %}

{% block content %}
<script type="text/javascript">
    var pos = 1;
    function upPos() {
        pos = pos + 1;
        return pos;
    }
    function downPos() {
        pos = pos - 1;
        return pos;
    }
    function getPos() {
        return pos;
    }
</script>
<script src="{{ url_for('static', filename='FormScript.js') }}"></script>

<form id="theForm" method="POST">
    {% for field in form %}
        {% if loop.first %}
            <div id='{{ "FormPage" ~ loop.index }}'>
        {% else %}
            <div id='{{ "FormPage" ~ loop.index }}' style="display:none">
        {% endif %}
        <br>
        <quest>Question {{ loop.index }} of 52</quest>
        <br>
        {% if loop.index < 11 %}
            <h1>Rate how much you enjoy the following activities.</h1>
        {% elif loop.index < 20 %}
            <h1>Which of these talks would you like to watch?</h1>
        {% elif loop.index < 30 %}
            <h1>How much did you like these subjects in high school? Only give an answer if you had the subject.</h1>
        {% else %}
            <h1>Rate how much you agree with the following statements.</h1>
        {% endif %}

        <div class="radioObject">
            <h2>{{ field.label }}</h2>
            <br>
            <div class="loveHateRating">
                {% if loop.index < 11 %}
                    <hate>Hate it</hate>
                    <love>Love it</love>
                {% elif loop.index < 20 %}
                    <hate>I would hate to watch it</hate>
                    <love>I would love to watch it</love>
                {% elif loop.index < 30 %}
                    <hate>Hated it</hate>
                    <love>Loved it</love>
                {% else %}
                    <hate>Strongly disagree</hate>
                    <love>Strongly agree</love>
                {% endif %}
                {% if not loop.last %}
                    {{ field(onchange="upPos(); return show('FormPage' + (getPos()), 'FormPage' + (getPos()-1));", **{'class': "radioObjectField"}) }}
                {% else %}
                    {{ field(**{'class': "radioObjectField"}) }}
                {% endif %}
            </div>
        </div>
        <br>
        {% if not loop.first %}
            <button class="prevPage" onclick="downPos(); return show('FormPage' + (getPos()), 'FormPage' + (getPos()+1));">Previous page</button>
        {% endif %}
        {% if not loop.last %}
            <button class="nextPage" onclick="upPos(); return show('FormPage' + (getPos()), 'FormPage' + (getPos()-1));">Next page</button>
        {% endif %}
        <input id="submitButton" type="submit" value="Submit">
        </div>
    {% endfor %}
{% endblock %}
